<h1>Application <%= @application.id %></h1>
<h3>Name: <%= @application.name %></h3>
<h3>Lives at <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></h3>
<h3>Why <%= @application.name %> would be a good home for the given pet: <%= @application.reason %></h3>
<h3>Application Status: <%= @application.status %></h3>
<h4>Pets on Application:</h4>
<% @application.pets.each do |pet| %>
  <a href="/pets/<%= pet.id %>"><%= pet.name %></a>
<% end %>

<% if @application.status == "In Progress"%>
  <% if @application.pets.present?%>
    <%= render partial: 'form', locals: {
      method: :get,
      path: "/applications/#{@application.id}",
      name1: 'description',
      label_text: "Why would you make a good home for the pet(s) you are applying for?",
      name2: 'reason',
      button_text: 'Submit form'
    } %>
  <% end %>

<p>--------------------------------------------</p>

<%= render partial: 'form', locals: {
  method: :get,
  path: "/applications/#{@application.id}",
  name1: 'name',
  label_text: "Pet name to search for",
  name2: 'name',
  button_text: 'Search'
} %>

  <% @application.show_pets(params).each do |pet| %>
    <%= form_with url: "/application_pets", local: :true, method: :post do |form| %>
    <%= form.label :adopt, "#{pet.name}"%>
    <%= form.hidden_field :pet_id, value: pet.id %>
    <%= form.hidden_field :app_id, value: @application.id %>
    <%= form.submit("Adopt this Pet") %>
    <% end %>
  <% end %>
<% end %>
