<h1>Application from <%= @application.name %>. Status: <%= @application.status %></h1>
<% @pets.each do |pet| %>
    <h2><%= "#{pet.name}"%></h2>
    <% if pet.adoptable == false %>
      <p>Pet has been approved for adoption by another applicant.</p>
    <% elsif pet.accepted?(@application.id) == true %>
      <p>Pet accepted for this Application</p>
    <% elsif pet.accepted?(@application.id) == nil %>
    <%= render partial: 'button', locals: {
        button_name: "Accept",
        url: "/admin/applications/#{@application.id}/pets/#{pet.id}?q=accept",
        id: "#{pet.name} accept",
        method: :post
      } %>

    <%= render partial: 'button', locals: {
        button_name: "Deny",
        url: "/admin/applications/#{@application.id}/pets/#{pet.id}?q=deny",
        id: "#{pet.name} deny",
        method: :post
      } %>
    <% else %>
    <% end %>

    <% if pet.accepted?(@application.id) != true %>
      <p>Pet denied for this application.</p>
    <% else %>
    <%= render partial: 'button', locals: {
        button_name: "Deny",
        url: "/admin/applications/#{@application.id}/pets/#{pet.id}?q=deny",
        id: "#{pet.name} deny",
        method: :post
      } %>
    <% end %>
<% end %>
