<h1>Application from <%= @application.name %>. Status: <%= @application.status %></h1>
<% @pets.each do |pet| %>
    <h2><%= "#{pet.name}"%></h2>
    <% if pet.accepted?(@application.id) == true %>
      <p>Pet accepted for this Application</p>
    <% elsif pet.accepted?(@application.id) == nil %>
      <%= button_to("Accept", "/admin/applications/#{@application.id}/pets/#{pet.id}?q=accept", method: :post) %>
    <% else %>
    <% end %>

    <% if pet.accepted?(@application.id) == nil %>
      <%= button_to("Deny", "/admin/applications/#{@application.id}/pets/#{pet.id}?q=deny", method: :post) %>
    <% elsif pet.accepted?(@application.id) != true %>
      <p>Pet denied for this Application</p>
    <% else %>
      <%= button_to("Deny", "/admin/applications/#{@application.id}/pets/#{pet.id}?q=deny", method: :post) %>
    <% end %>
<% end %>
